# ------------------------
# Environment
# ------------------------
.env
**/.env

# ------------------------
# Cloudflare
# ------------------------
**/.cloudflared/
**/*.pem
**/*.json

# Keep example files
!**/*.example
!**/*.example.json

# ------------------------
# Docker Runtime Data
# ------------------------
**/data/
**/logs/

# ------------------------
# Databases
# ------------------------
*.db
*.sqlite
*.sqlite3

# ------------------------
# Python
# ------------------------
__pycache__/
*.pyc

# ------------------------
# Node
# ------------------------
node_modules/

# ------------------------
# macOS
# ------------------------
.DS_Store

# ------------------------
# Linux
# ------------------------
*~

# ------------------------
# Backups
# ------------------------
*.tar
*.tar.gz
*.zip

# ------------------------
# IDE
# ------------------------
.vscode/
.idea/
