##################################################
# Environment
##################################################

.env
**/.env

##################################################
# Cloudflare
##################################################

**/.cloudflared/
*.pem
*.key

##################################################
# Cloudflared
##################################################

**/services/cloudflared/*.json

##################################################
# Runtime Data
##################################################

**/data/
**/logs/

##################################################
# Pi-hole
##################################################

**/services/pihole/etc-pihole/
**/services/pihole/etc-dnsmasq.d/

##################################################
# Databases
##################################################

*.db
*.sqlite
*.sqlite3

##################################################
# Python
##################################################

__pycache__/
*.pyc

##################################################
# Node
##################################################

node_modules/

##################################################
# macOS
##################################################

.DS_Store

##################################################
# Linux
##################################################

*~

##################################################
# Archives
##################################################

*.tar
*.tar.gz
*.zip
