TZ=America/New_York
PIHUB_IP=192.168.1.176

PIHOLE_WEBPASSWORD=change-me
PIHOLE_DNS=1.1.1.1;9.9.9.9

CLOUDFLARE_TUNNEL_ID=your-tunnel-id
CLOUDFLARE_TUNNEL_CREDENTIALS_FILE=/etc/cloudflared/your-tunnel-id.json
